<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="DnsClient" version="1.2.0" targetFramework="net45" />
  <package id="EasyNetQ" version="1.1.4.506" targetFramework="net45" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.7.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.7.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net45" />
  <package id="Polly-Signed" version="5.9.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net45" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net45" />
  <package id="SevenZipSharp.Interop" version="18.5.0" targetFramework="net45" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net45" />
</packages>