<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="nlogs/nlog-internal.log"
>

  <variable name="directory" value="${basedir}/logs"/>

  <!--开启异步日志写入-->
  <targets async="true">
    <!--${}内的参数不区分大小写-->
    <!-- Console -->
    <target name="Console"
            xsi:type="ColoredConsole"
            encoding="utf-8"
            layout="${longdate} [${level}] ${callsite:skipFrames=1} : ${message} ${exception:format=tostring}"
    />

    <!-- Info -->
    <target name="Info"
            xsi:type="File"
            encoding="utf-8"
            maxArchiveDays="30"
            archiveAboveSize="52428800"
            archiveEvery="Day"
            fileName="${directory}/log/${date:format=yyyy-MM-dd}.log"
            layout="${longdate} [${level}] [${callsite-linenumber:skipFrames=1}] ${callsite:skipFrames=1} : ${message}"
    />

    <!-- Error -->
    <target name="Error"
            xsi:type="File"
            encoding="utf-8"
            maxArchiveDays="30"
            archiveAboveSize="52428800"
            archiveEvery="Day"
            fileName="${directory}/bug/${date:format=yyyy-MM-dd}.log"
            layout="${longdate} [${level}] [${callsite-linenumber:skipFrames=1}] ${callsite:skipFrames=1} : ${message} ${exception:format=tostring}"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console"/>
    <logger name="*" maxlevel="Info"  writeTo="Info"/>
    <logger name="*" minlevel="Error"  writeTo="Error"/>
  </rules>
</nlog>